
.title{
	text-align: left;
	background-color: green;
}

.Menu{
	text-align: left;
	background-color: green;
}

.cityinfo{
	text-align: left;
	background-color: green;
}

.population{
	text-align: left;
	background-color: green;
}

.income{
	text-align: left;
	background-color: green;
}

.about{
	text-align: left;
	background-color: green;
}

.education{
	text-align: left;
	background-color: green;
}

.media{
	text-align: left;
	background-color: green;
}

.climate{
	text-align: left;
	background-color: green;
}

.transportation{
	text-align: left;
	background-color: green;
}

.mall{
	text-align: left;
	background-color: green;
}

.turnberry{
	text-align: left;
	background-color: green;
}

.center{
	text-align: left;
	background-color: green;
}

.park{
	text-align: left;
	background-color: green;
}