.container{
	display: grid;
	grid-gap: 20px;
}

.title{
	text-align: center;
	background-color: green;
	color: white;
	padding: 0;
	text-transform: uppercase;
	text-decoration: underline;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
	align-content: center;
	margin: 0;
	font-weight: 300;
	list-style: none;
}

.Menu{
	text-align: center;
	background-color: green;
	color: white;
	background-size: cover;
	background-position: bottom right;
	display: grid;
	padding: 5px;
	align-items: center;
	align-content: center;
	margin: 0;
	font-weight: 300;
	list-style: none;
}

.cityinfo{
	text-align: center;
	background-color: green;
	color: white;
	text-decoration: none;
	align-items: center;
	align-content: center;
}

.population{
	text-align: center;
	background-color: green;
	color: white;
	align-items: center;
	align-content: center;
}

.income{
	text-align: center;
	background-color: green;
	color: white;
	align-items: center;
	align-content: center;
}

.about{
	text-align: center;
	background-color: green;
	color: white;
	align-items: center;
	align-content: center;
}

.education{
	text-align: center;
	background-color: green;
	color: white;
	align-items: center;
	align-content: center;
}

.media{
	text-align: center;
	background-color: green;
	color: white;
	align-items: center;
	align-content: center;
}

.climate{
	text-align: center;
	background-color: green;
	color: white;
	align-items: center;
	align-content: center;
}

.transportation{
	text-align: center;
	background-color: green;
	color: white;
	align-items: center;
	align-content: center;
}

.mall{
	text-align: center;
	background-color: green;
	color: white;
	align-items: center;
	align-content: center;
}

.turnberry{
	text-align: center;
	background-color: green;
	color: white;
	align-items: center;
	align-content: center;
}

.center{
	text-align: center;
	background-color: green;
	color: white;
	align-items: center;
	align-content: center;
}

.park{
	text-align: center;
	background-color: green;
	color: white;
	align-items: center;
	align-content: center;
}

.text{
	text-align:center;
	background-color: blue;
	color: white;
	align-items: center;
	align-content: center;
}

.amount{
	text-align: center;
	background-color:blue;
	color:white;
	align-items: center;
	align-content: center;
}

.Address{
	text-align: center;
	background-color:green;
	color: white;
	align-items: center;
	align-content: center;
}

.address{
	text-align: center;
	background-color: white;
	color: black;
	align-items: center;
	align-content: center;
}

@media only screen and (min-width: 750px){
	  		body{
			background-color: yellow;
			font-size: 25px;
		    }
	}
@media only screen and (min-width: 500px){
	  		body{
			background-color: yellow;
			font-size: 20px;
		    }
	}
@media only screen and (min-width: 250px){
	  		body{
			background-color: yellow;
			font-size: 15px;
		    }
	}




