.container{
	display: grid;
	grid-gap: 20px;
}

#Gallery {
  background-color: black;
  color: white;
  padding: 40px;
  text-align: center;
}

.menu ul{
	text-align: center;
	font-size: 48px;
	text-decoration: bold;
}

li{
	margin-right: 12px;
	text-align: center;
	font-size: 18px;
	background-color: gray;
	padding: 10px;
	display: grid;
	grid-template-columns: 200px 1fr;
}