.container{
	display: grid;
	grid-gap: 20px;
}

#Gallery {
  background-color: black;
  color: white;
  padding: 40px;
  text-align: center;
}

.menu ul{
	text-align: left;
	font-size: 48px;
	text-decoration: bold;
}

li{
	margin-right: : 0px;
	text-align: right;
	font-size: 18px;
	background-color: gray;
	padding: 5px;
	display: inline-grid;
	grid-template-rows: 25px 0fr;
}

.yacht{
	text-align: center;
}

.Races{
	text-align: center;
}

.Turnberry{
	text-align: center;
}

.Mall{
	text-align: center;
}

.Center{
	text-align: center;
}

.Park{
	text-align: center;
}

.Income{
	text-align: center;
}

.Marital{
	text-align: center;
}

.map{
	text-align: center;
}

.logo{
	text-align: center;
}

.img{
	vertical-align: middle;
}