.title{
	text-align: left;
}

.menu{
	text-align: left;
}

.cityinfo{
	text-align: left;
}

.population{
	text-align: left;
}

.income{
	text-align: left;
}

.about{
	text-align: left;
}

.education{
	text-align: left;
}

.media{
	text-align: left;
}

.climate{
	text-align: left;
}