.container{
	display: grid;
	grid-gap: 20px;
}

#Gallery {
  background-color: black;
  color: white;
  padding: 40px;
  text-align: center;
}

.menu ul{
	display: inline-grid;
	padding: 1;
	list-style: somali;
	grid-template-rows: repeat(auto-fit, minmax(150px, 2fr));
}

li{
	margin-left: 12px;
	text-align: left;
	font-size: 18px;
	background-color: gray;
	padding: 40px;
	display: inline-grid;
	grid-template-rows: 300px 2fr;
}